package/c/output/
package/c/**/*.o
*.so
*.dylib
*.dll
test.db
test.db-journal
.db/
.test-db/
node_modules/
package/.db/
package/.test-db/
package/.git/
test_python_binding.py
test_cli.sql
.npmrc
.compaction-db
package/c/sqlite3.c
package/c/sqlite3.h
package/c/sqlite3ext.h
package/c/sqlite-autoconf-*
package/c/sqlite-amalgamation-*